<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bluecode.weledger">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS"
        tools:node="remove" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/we_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/we_logo"
        android:supportsRtl="true"
        android:theme="@style/MyTheme">
        <activity
            android:name=".TotalSocialFundsCollectedActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SocialDepositsAndDisbursmentsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ViewSocialFundsForMembersActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".BookWriterViewRegister"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".BookWriterConductRegisterActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".BookWriterViewMemberRegisterActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".FacilitatorMemberDetailsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".OrdinaryMemberFinesDashboard"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".OrdinaryMemberRepaymentDashboard"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".OrdinaryMemberLoanRequestDashboard"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".OrdinaryGroupTransactionHistoryActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".OrdinaryMemberTransactionHistoryActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".OrdinaryMemberSavingsDashboard"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".OrdinaryMembersDetailsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".OrdinaryMembersActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".BookWriterMemberRegisterDashboard"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".BookWriterSocialDashboard"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".BookWriterFinesDashboard"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".BookWriterRepaymentDashboard"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".BookWriterLoanRequestDashboard"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ViewActualMembersFacilitator"
            android:exported="false" />
        <activity
            android:name=".ViewGroupMembersFacilitatorActivity"
            android:exported="false"
            android:parentActivityName=".FacilitatorGroupAdminDashboard" />
        <activity
            android:name=".BookWriterAdminDashboard"
            android:exported="false" />
        <activity
            android:name=".AddMemberToGroupActivity"
            android:exported="false"
            android:parentActivityName=".FacilitatorGroupAdminDashboard" />
        <activity
            android:name=".FacilitatorGroupAdminDashboard"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".MyTransactionsHistoryActivity" />
        <activity android:name=".MembersActivity" />
        <activity android:name=".MembersDetailsActivity" />
        <activity android:name=".NewLoanRequestActivity" />
        <activity android:name=".NewMemberActivity" />
        <activity android:name=".MyLoanRequestsActivity" />
        <activity android:name=".BookWriterMembersActivity" />
        <activity android:name=".FacilitatorGroupTransactionsHistoryActivity" />
        <activity android:name=".BookWriterLoansActivity" />
        <activity android:name=".NewPaymentActivity" />
        <activity
            android:name=".FacilitatorGroupsActivity"
            android:parentActivityName=".FacilitatorGroupAdminDashboard" />
        <activity android:name=".FacilitatorNewMemberActivity" />
        <activity
            android:name=".FacilitatorNewGroupActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".GroupDetailsActivity" />
        <activity android:name=".FacilitatorManageGroupsActivity" />
        <activity android:name=".FacilitatorGroupSavings" />
        <activity android:name=".FacilitatorGroupLoans" />
        <activity android:name=".FacilitatorGroupRepayments" />
        <activity android:name=".FacilitatorGroupFines" />
        <activity android:name=".FacilitatorMembersFines" />
        <activity android:name=".FacilitatorMembersLoans" />
        <activity android:name=".FacilitatorMembersRepayments" />
        <activity android:name=".BookwriterRepaymentsActivity" />
        <activity android:name=".BookWriterSavingsOptionsDashboard" />
        <activity android:name=".BookwriterSavingsActivity" />
        <activity android:name=".BookwriterFinesActivity" />
        <activity android:name=".BookwriterSocialFundActivity" />
        <activity android:name=".BookwriterNewMemberActivity" />
        <activity android:name=".MyGroupTransactionsHistoryActivity" />
        <activity android:name=".NewLoanRepaymentActivity" />
        <activity android:name=".NewFinesActivity" />
        <activity android:name=".NewSocialFundActivity" />
        <activity android:name=".BookwriterGroupLoansActivity" />
        <activity android:name=".FacilitatorGroupLoansActivity" />
        <activity android:name=".BookWriterSavingEdit" />
    </application>

</manifest>