<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.retrotech.disc_agric">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS"
        tools:node="remove" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/we_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/we_logo"
        android:supportsRtl="true"
        android:theme="@style/MyTheme">
        <activity
            android:name="com.retrotech.disc_agric.FacilitatorRegisterActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.retrotech.disc_agric.ViewSocialFundFacilitatorActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.retrotech.disc_agric.ViewFinesFacilitatorActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.retrotech.disc_agric.BookWriterLoanRepaymentEdit"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.retrotech.disc_agric.ConstitutionBookWriterActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.retrotech.disc_agric.ViewRepaymentFacilitatorActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.retrotech.disc_agric.ViewLoanFacilitatorActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.retrotech.disc_agric.OrdinaryMemberGroupLoanRepaymentsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.retrotech.disc_agric.OrdinaryMemberLoanRepaymentsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.retrotech.disc_agric.BookWriterGroupLoanRepaymentActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.retrotech.disc_agric.OrdinaryMemberMyGroupLoanActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.retrotech.disc_agric.OrdinaryMemberMyLoanActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.retrotech.disc_agric.FacilitatorProfileActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.retrotech.disc_agric.ViewGroupSavingsFacilitatorActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.retrotech.disc_agric.MemberProfileActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.retrotech.disc_agric.ViewTotalFineOrdinaryMemberActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.retrotech.disc_agric.ViewTotalFineBookWriterActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.retrotech.disc_agric.OrdinaryTotalSocialFundsCollectedActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.retrotech.disc_agric.OrdinaryViewSocialFundsForMembersActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.retrotech.disc_agric.OrdinaryMemberSocialFundDashboard"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.retrotech.disc_agric.SocialFundDisbursementActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.retrotech.disc_agric.OrdinaryMemberViewRegister"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.retrotech.disc_agric.TotalSocialFundsCollectedActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.retrotech.disc_agric.ViewSocialFundsForMembersActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.retrotech.disc_agric.BookWriterViewRegister"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.retrotech.disc_agric.BookWriterConductRegisterActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.retrotech.disc_agric.BookWriterViewMemberRegisterActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.retrotech.disc_agric.FacilitatorMemberDetailsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.retrotech.disc_agric.ProfileActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.retrotech.disc_agric.OrdinaryMemberFinesDashboard"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.retrotech.disc_agric.OrdinaryMemberRepaymentDashboard"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.retrotech.disc_agric.OrdinaryMemberLoanRequestDashboard"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.retrotech.disc_agric.OrdinaryGroupTransactionHistoryActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.retrotech.disc_agric.OrdinaryMemberTransactionHistoryActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.retrotech.disc_agric.OrdinaryMemberSavingsDashboard"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.retrotech.disc_agric.OrdinaryMembersDetailsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.retrotech.disc_agric.OrdinaryMembersActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.retrotech.disc_agric.BookWriterMemberRegisterDashboard"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.retrotech.disc_agric.BookWriterSocialDashboard"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.retrotech.disc_agric.BookWriterFinesDashboard"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.retrotech.disc_agric.BookWriterRepaymentDashboard"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.retrotech.disc_agric.BookWriterLoanRequestDashboard"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.retrotech.disc_agric.ViewActualMembersFacilitator"
            android:exported="false" />
        <activity
            android:name="com.retrotech.disc_agric.FacilitatorViewGroupsActivity"
            android:exported="false"
            android:parentActivityName="com.retrotech.disc_agric.FacilitatorGroupAdminDashboard" />
        <activity
            android:name="com.retrotech.disc_agric.BookWriterAdminDashboard"
            android:exported="false" />
        <activity
            android:name="com.retrotech.disc_agric.AddMemberToGroupActivity"
            android:exported="false"
            android:parentActivityName="com.retrotech.disc_agric.FacilitatorGroupAdminDashboard" />
        <activity
            android:name="com.retrotech.disc_agric.FacilitatorGroupAdminDashboard"
            android:exported="false" />
        <activity
            android:name="com.retrotech.disc_agric.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.retrotech.disc_agric.LoginActivity" />
        <activity
            android:name="com.retrotech.disc_agric.MainActivity"
            android:parentActivityName="com.retrotech.disc_agric.MemberProfileActivity" />
        <activity android:name="com.retrotech.disc_agric.MyTransactionsHistoryActivity" />
        <activity android:name="com.retrotech.disc_agric.MembersActivity" />
        <activity android:name="com.retrotech.disc_agric.MembersDetailsActivity" />
        <activity android:name="com.retrotech.disc_agric.NewLoanRequestActivity" />
        <activity android:name="com.retrotech.disc_agric.NewMemberActivity" />
        <activity android:name="com.retrotech.disc_agric.MyLoanRequestsActivity" />
        <activity android:name="com.retrotech.disc_agric.BookWriterMembersActivity" />
        <activity android:name="com.retrotech.disc_agric.FacilitatorGroupTransactionsHistoryActivity" />
        <activity android:name="com.retrotech.disc_agric.BookWriterLoansActivity" />
        <activity android:name="com.retrotech.disc_agric.NewPaymentActivity" />
        <activity
            android:name="com.retrotech.disc_agric.FacilitatorGroupsActivity"
            android:parentActivityName="com.retrotech.disc_agric.FacilitatorGroupAdminDashboard" />
        <activity android:name="com.retrotech.disc_agric.FacilitatorNewMemberActivity" />
        <activity
            android:name="com.retrotech.disc_agric.FacilitatorNewGroupActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.retrotech.disc_agric.GroupDetailsActivity" />
        <activity android:name="com.retrotech.disc_agric.FacilitatorManageGroupsActivity" />
        <activity android:name="com.retrotech.disc_agric.FacilitatorGroupSavings" />
        <activity android:name="com.retrotech.disc_agric.FacilitatorGroupLoans" />
        <activity android:name="com.retrotech.disc_agric.FacilitatorGroupRepayments" />
        <activity android:name="com.retrotech.disc_agric.FacilitatorGroupFines" />
        <activity android:name="com.retrotech.disc_agric.FacilitatorMembersFines" />
        <activity android:name="com.retrotech.disc_agric.FacilitatorMembersLoans" />
        <activity android:name="com.retrotech.disc_agric.FacilitatorMembersRepayments" />
        <activity android:name="com.retrotech.disc_agric.BookwriterRepaymentsActivity" />
        <activity android:name="com.retrotech.disc_agric.BookWriterSavingsOptionsDashboard" />
        <activity android:name="com.retrotech.disc_agric.BookwriterSavingsActivity" />
        <activity android:name="com.retrotech.disc_agric.BookwriterFinesActivity" />
        <activity android:name="com.retrotech.disc_agric.BookwriterSocialFundActivity" />
        <activity android:name="com.retrotech.disc_agric.BookwriterNewMemberActivity" />
        <activity android:name="com.retrotech.disc_agric.MyGroupTransactionsHistoryActivity" />
        <activity android:name="com.retrotech.disc_agric.NewLoanRepaymentActivity" />
        <activity android:name="com.retrotech.disc_agric.ChargeFineActivity" />
        <activity android:name="com.retrotech.disc_agric.NewSocialFundActivity" />
        <activity android:name="com.retrotech.disc_agric.BookwriterGroupLoansActivity" />
        <activity android:name="com.retrotech.disc_agric.FacilitatorGroupLoansActivity" />
        <activity android:name="com.retrotech.disc_agric.BookWriterSavingEdit" />
        <activity android:name="com.retrotech.disc_agric.PostFineActivity" />
        <activity android:name="com.retrotech.disc_agric.SignUpActivity" android:windowSoftInputMode="adjustResize"/>
    </application>

</manifest>